@use "./var" as *;

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}



body {
	background: url("../images/background.jpg");
	font-family: $font-family-primary;
	font-size: 16px;
}

.container {
  width: 80%;
  height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
}
.score-panel>div,ul,span{
    display:inline;
    padding: 0.5em;
}

h1 {
	font-family: $font-family-primary;
}
.trophy > li {
    display: inline-block;
    padding: 0.5em;
  }
  .moves-counter,label {
    padding: 0.5em;
    font-size: x-large;
    color: rgb(173, 10, 10);
  }
  .reset-btn ,.play-again-btn {
    background: #000;
  }
.timer-container {
    border-radius: 0.5em;
    color: rgb(173, 10, 10);
    margin: 0.5em;
    // padding: 0.5em;
  }
  .timer {
    font-size:x-large;
  }
  ul > li {
    list-style: none;
  }
  .card,
  .reset-btn {
    cursor: pointer;
  }
  .btn {
    // border-radius: 1em;
    border: black;
    color:rgba(241, 222, 222, 0.815);
    border-radius: 15px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 0.8em;
  }

  .deck {
   // background: linear-gradient(to bottom, rgb(119, 46, 4), rgb(192, 172, 164));
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
    margin-bottom: 6em;
    padding: 0.5em;    
    
   &__easy{
    height: 65%;
    width: 45%;
   }
   &__medium{
    height: 85%;
    width: 65%;
   }
   &__hard{
    height: 35em;
    width: 35em;
   }
  }
  .deck,
  .card {
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }
  .card {
    background: rgb(172, 127, 4);
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
    &:hover{
      animation-name: fire-color;
    }
  }
  /* Modal (background) */
.modal {
    /*Hidden by default */
    display:none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background-image: url("../images/win.jpg");
    background-size:cover;
    /* Fallback color */
    transition: opacity 500ms;
   }
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin: 15% auto;
    padding-right: 2em;
    width: 80%;
  }

  //image 
  img {
    user-select: none;
    height: 100%;
    width: 100%;
    visibility: hidden;    
   }

  .card.flip {
    //background-size:cover;
    cursor: pointer;
    transform: rotateY(180deg);
    transition: transform 0.6s linear;
    // pointer-events: none;
  }
  .flip img {
    background: transparent;
    visibility: visible;
  }
  .card.match {
    background: rgb(170, 221, 51);
    visibility: visible;
    //cursor: default;
    animation: pulse 1s;
  }
  .match img {
    background: rgb(170, 221, 51);
  }
  
  @keyframes fire-color {
    0% {
      color: #801100;
    }
  
    20% {
      color: #b62203;
    }
  
    40% {
      color: #d73502;
    }
  
    60% {
      color: #fc6400;
    }
  
    80% {
      color: #ff7500;
    }
  
    100% {
      color: #fac000;
    }
  }
  
    

@media (max-width: 560px) {
	.deck {
		width: 80%;
	}

	.deck .card {
		height: 4.7rem;
		width: 4.7rem;
	}
}