html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: url("../images/background.jpg");
  font-family: "AquilineTwo", sans-serif;
  font-size: 16px;
}

.container {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5em;
}

.score-panel > div, ul, span {
  display: inline;
  padding: 0.5em;
}

h1 {
  font-family: "AquilineTwo", sans-serif;
}

.trophy > li {
  display: inline-block;
  padding: 0.5em;
}

.moves-counter, label {
  padding: 0.5em;
  font-size: xx-large;
}

.reset-btn, .play-again-btn {
  background: #000;
}

.timer-container {
  background: transparent;
  border-radius: 0.5em;
  color: #ad0a0a;
  margin: 0.5em;
}

.timer {
  font-size: xx-large;
}

ul > li {
  list-style: none;
}

.card,
.reset-btn {
  cursor: pointer;
}

.btn {
  border: black;
  color: rgba(241, 222, 222, 0.815);
  border-radius: 15px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  padding: 0.8em;
}

.deck {
  border-radius: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 35em;
  margin-bottom: 6em;
  padding: 0.5em;
  width: 35em;
}

.deck,
.card {
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card {
  background: #ac7f04;
  border-radius: 0.5em;
  height: 7em;
  width: 7em;
}
.card:hover li{
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: fire-color;
}


/* Modal (background) */
.modal {
  /*Hidden by default */
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background-image: url("../images/win.png");
  background-size: cover;
  /* Fallback color */
  transition: opacity 500ms;
  /* With opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 5% from the top and centered */
  margin-top: 250px;
  margin: 5% auto;
  padding-right: 2em;
  width: 80%;
}

img {
  user-select: none;
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.card.flip {
  cursor: pointer;
  transform: rotateY(180deg);
  transition: transform 0.6s linear;
}

.flip img {
  background: transparent;
  visibility: visible;
}

.card.match {
  background: #aadd33;
  visibility: visible;
  animation: pulse 1s;
}

.match img {
  background: #aadd33;
}

@keyframes fire-color {
  0% {
    color: #801100;
  }
  20% {
    color: #b62203;
  }
  40% {
    color: #d73502;
  }
  60% {
    color: #fc6400;
  }
  80% {
    color: #ff7500;
  }
  100% {
    color: #fac000;
  }
}
@media (max-width: 560px) {
  .deck {
    width: 80%;
  }

  .deck .card {
    height: 4.7rem;
    width: 4.7rem;
  }
}